<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/dmokhtarelfa/IdeaProjects/Assignment_Dalia">
        <classes>
            <class name="testcases.CreateNewAccountTest">
                <methods>
                    <include name="CreateNewAccount"/>
                </methods>
            </class>
            <class name="testcases.OrderBlouseTest">
                <methods>
                    <include name="SelectBlouseCategory"/>
                    <include name="Selectresultedproduct"/>
                    <include name="FollowCheckoutProcedure"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>